body {
    text-align:center;
    -webkit-text-size-adjust: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
img { 
    max-width: 100%; 
    height:auto;
}
.waku {
    max-width: 100%; 
        height:auto;
        width:500px;
    margin:0 auto;
border:10px solid #ff0070;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
}
.waku:active {
  background-color: #ff4d9b;
}